body {
    font-family: sans-serif;
}

body, html {
    margin: 0;
}

table {
    width: 50%;
    margin: 0 auto;
}

td {
    text-align: center;
}

.me, .fet {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.teal {
    color: rgb(7, 97, 97);
}

.fab {
    color: rgb(214, 93, 113);
}

.me > span, .fet > span {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.yellow {
    background-color: rgb(181, 159, 59);
}

.green {
    background-color: rgb(83, 141, 78);
}

.grey {
    background-color: rgb(58, 58, 60);
}

nav {
    display: flex;
    justify-content: center;
    gap: 2%;
    background-color: rgb(58, 58, 60);
    margin: 0;
    color: #fff;
    margin-bottom: 2%;
    padding: 0.5%;
}

span > a {
    text-decoration: none;
    color: #fff;
}

span > a:visited {
    color: #fff;
}

nav > span {
    display: inline-block;
    font-size: 20px;
}

